.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial {
    color: white;
    font-size: 20px;
    font-weight: bold;
}