.menu {
  display: flex;
}

.menu-left {
  width: 200px; /* Độ rộng của phần menu items */
  padding: 20px;
  background-color: #f0f0f0; 
  margin-left: 20px;/* Màu nền của phần menu items */
}

.menu-right {
  flex-grow: 1; /* Phần content sẽ chiếm phần còn lại của không gian */
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px; /* Khoảng cách giữa các menu items */
  border-bottom: 1px solid #ccc; /* Đường kẻ giữa các menu items */
  padding-bottom: 10px; /* Khoảng cách từ menu item đến đường kẻ */
}

.menu ul li:last-child {
  border-bottom: none; /* Không có đường kẻ ở menu item cuối cùng */
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 0; /* Thêm khoảng cách cho các liên kết */
}

.menu ul li a.active {
  font-weight: bold;
  color: rgb(86, 86, 91); /* Màu chữ của menu item được chọn */
}